.header-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.main-header {
  background-image: url("../img/header-background.png");
  height: 900px;
}

body {
  margin: 0;
  padding: 0;
}
